<p>Hi <%=name%>,</p>
<p>Your account is setup as Agency on HighPiler.</p>
<p>Please go this url  <a href='https://highpiler-dev.techpss.com'>https://highpiler-dev.techpss.com</a> and use Below login detail.</p>
<p>Email: <%=email%></p>
<p>Password: <%=password%></p>  