<p>Hi <%=name%>,</p>
<p>Your account has been approved on HighPiler. Please login and enjoy our services. Click on below link.</p>
<p><a href='https://highpiler-dev.techpss.com'>https://highpiler-dev.techpss.com</a></p> 