<p>Hi,</p>
<p>New user signup with following detail.</p>
<p>
   Name: <%=name%><br>
   Email: <%=email%>
</p>  
<p>Please go this url <a href="https://highpiler-dev.techpss.com/pendingRegistration?fromMail=true">https://highpiler-dev.techpss.com/pendingRegistration?fromMail=true</a> to accept  or reject this user</p>
 